@{
    ViewData["Title"] = "Home Page";
}

<h2>Create.</h2>

<form>

    @if(ViewData.ContainsKey("errorMessage") || TempData.ContainsKey("errorMessage"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["errorMessage"]
            @TempData["errorMessage"]
        </div>
    }

    @if(ViewData.ContainsKey("infoMessage") || TempData.ContainsKey("infoMessage"))
    {
        <div class="alert alert-info" role="alert">
            @ViewData["infoMessage"]
            @TempData["infoMessage"]
        </div>  
    }

    @if(ViewData.ContainsKey("warningMessage") || TempData.ContainsKey("warningMessage"))
    {
        <div class="alert alert-warning" role="alert">
            @ViewData["warningMessage"]
            @TempData["warningMessage"]
        </div>  
    }

    <div id="podcastUrl" class="row">
        <div class="col-xs-12">
            <label for="podcastInputField">Url of podcast to filter</label>
            <div class="input-group" id="podcastInputField">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" formaction="validate" formmethod="post">Validate</button>
                </span>
                <input type="text" class="form-control noMaxWidth" name="urlInputField" value="@ViewData["podcastUrl"]" placeholder="url of podcast to filter">
            </div>
        </div>
    </div>

    <hr />

    <div id="currentFilters" class="row">

        <!-- Controls to add new modifications. -->
        <div class="col-xs-12 col-md-6">
            <label for="newModificationsControls">Add filter</label>
            <div class="row" id="newModificationsControls">
                <div class="form-group col-xs-6">
                    <div class="selectContainer">
                        <select class="form-control" id="newFilterSelector" name="filterType" oninput="newFilterSelectionChanged()">
                            <!-- Filter Types should match the name of their classes! -->
                            <option value="">Choose a filter</option>
                            <option value="EpisodeTitleFilterModification">Title Filter</option>
                            <option value="EpisodeDescriptionFilterModification">Description Filter</option>
                            <option value="EpisodeDurationFilterModification">Duration Filter</option>
                            <option value="EpisodePublishDateFilterModification">Publication Date Filter</option>
                            <option value="RemoveDuplicateEpisodesModification">Duplicate Episodes Filter</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 btn-group" role="group" aria-label="filter actions">
                    <button type="submit" class="btn btn-default" formaction="addFilter" formmethod="post">Add</button>
                    <button type="submit" class="btn btn-default" formaction="removeFilter" formmethod="post">Remove</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    @Html.Partial("NewFilterParameters")
                </div>
            </div>
        </div>

        <!-- List of the current modifications. -->
        <div class="col-xs-12 col-md-6">
            <label for="currentFiltersListBox">Current Filters</label>
            @if ((int)ViewData["currentFilterCount"] > 0)
            {
                <div class="list-group" id="currentFiltersListBox">
                    @{int i = 0;}
                    @foreach (var filter in ViewData["currentFilters"] as List<PodfilterWeb.Models.DisplayableBasePodcastModification>)
                    {
                        @if ((int)ViewData["selectedFilter"] == i)
                        {
                            <a href="selectFilter/@i" class="list-group-item active">
                                <b>@filter.Name</b> <i><small>&emsp;@filter.Description</small></i>
                            </a>
                        }
                        else
                        {
                            <a href="selectFilter/@i" class="list-group-item">
                                <b>@filter.Name</b> <i><small>&emsp;@filter.Description</small></i>
                            </a>
                        }
                        i++;
                    }
                </div>
            }
            else
            {
                <!--
                <div class="panel panel-default">
                    <div class="panel-body">
                        You have not added any filters yet.
                    </div>
                </div>
                -->
                <div class="well well-sm">
                    You have not added any filters yet.
                </div>
            }
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-12">
            <label for="createPodcast">Click create once you have set all filters.</label>
            <div class="input-group" id="createPodcast">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" formaction="create" formmethod="post">Create</button>
                </span>
                <input type="text" class="form-control noMaxWidth" placeholder="new podcast url" value="@TempData["filteredPodcastUrl"]" />
            </div>
        </div>
    </div>

</form>